.overview {

    ol {
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 15px;
    }

    .summary {
        margin-left: 20px;
        font-size: 1.1rem;
        margin-block: 5px;
    }
    .when {
        color: var(--ucsd-green);
    }

    .where {
        color: var(--ucsd-gold);
    }

    .who {
        color: var(--ucsd-green);
    }

    .fa-map {
        margin-right: 12px;
        color: var(--ucsd-gold);
    }

    .fa-user {
        margin-right: 17px;
        color: var(--ucsd-green);
    }

    .fa-calendar {
        margin-right: 16px;
        color: var(--ucsd-green)
    }

    .nasa-funding {
        color: var(--ucsd-blue);
    }
}