.register-button {
    background: var(--ucsd-magenta);
    font-family: 'Source Sans Pro', Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: white;
    margin-block: 10px;
    margin-inline: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    text-decoration: none;

    a {
        color: var(--ucsd-navy);
        text-decoration: none;
        font-weight: 800;
    }
}